* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* замедляет скорость прокрутки страницы */
  /*   font-family: 'Open Sans', sans-serif; */
}

bodi {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.section-title {
  font-size: 42px;
  text-transform: uppercase;
}

.section-header__title {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.section-header__description {
  max-width: 700px;
  line-height: 28px;
  margin-bottom: 38px;
}

.section-header__line {
  height: 3px;
  width: 134px;
  background-color: #FF2D2D;
}
