.features {
  margin-bottom: 104px;
}

.features__title {
  text-align: center;
  margin-bottom: 28px;
}

.features__description {
  line-height: 28px;
  text-align: center;
  width: 540px;
  margin: 0 auto 34px auto;
}

.features__line {
  background-color: #FF2D2D;
  height: 3px;
  width: 134px;
  margin: 0 auto 86px auto;
}

.features-tabs {
  display: flex;
  justify-content: center;
  gap: 0 56px;
  margin-bottom: 56px;
}

.features__tabs-item {
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.features__tabs-item:hover {
  color: #FF2D2D;
}

.features__tabs-item_red {
  color: #FF2D2D;
}

.features__photes {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.features__photes-item {
  width: 295px;
  height: 295px;
  background-color: #5580f9;
  margin-bottom: 10px;
}