.features {
  margin-bottom: 104px;
}

.features__title {
  text-align: center;
  margin-bottom: 28px;
}

.features__description {
  line-height: 28px;
  text-align: center;
  width: 540px;
  margin: 0 auto 34px auto;
}

.features__line {
  background-color: #FF2D2D;
  height: 3px;
  width: 134px;
  margin: 0 auto 86px auto;
}

.features-tabs {
  display: flex;
  justify-content: center;
  gap: 0 56px;
  margin-bottom: 56px;
}

.features__tabs-item {
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.features__tabs-item:hover {
  color: #FF2D2D;
}

.features__tabs-item_red {
  color: #FF2D2D;
}

.features__products {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__product {
  flex: 1 1 24%;
  max-width: 298px;
  height: 292px;
  margin-bottom: 18px;
  object-fit: cover;
}

.features__product:hover {
  cursor: pointer;
  max-width: 310px;
}

@media screen and (max-width: 1280px) {
  .features-tabs {
    gap: 0 18px;
    padding: 0 20px;
  }

  .features__tabs-item {
    font-size: 20px;
  }

  .features__products {
    justify-content: center;
  }

  .features__product {
    justify-content: space-evenly;
    padding: 8px 8px;
  }
}

@media screen and (max-width: 640px) {
  .features {
    margin-bottom: 36px;
  }

  .features__title {
    font-size: 26px;
  }

  .features__description {
    width: 96%;
  }

  .features__line {
    margin-bottom: 42px;
  }

  .features-tabs {
    gap: 0 10px;
    padding: 0 10px;
  }

  .features__tabs-item {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .features-tabs {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0 10px;
    padding: 0 10px;
  }

  .features__tabs-item {
    font-size: 12px;
    padding: 8px;
  }

  .features__product {
    max-width: 254px;
    max-height: 254px;
  }
}