.footer {
  background-color: #313030;
  height: 113px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__meta {
  color: #B8B8B8;
}

.social {
  display: flex;
  gap: 0 18px;
}

@media screen and (max-width: 1280px) {
  .footer__meta {
    margin-left: 55px;
  }

  .social {
 /*    margin-right: 20px; */
  }
}

@media screen and (max-width: 640px) {
  .social {
/*     margin-right: 5px; */
    gap: 8px;
  }

  .footer__meta {
    margin-left: 14px;
  }
}