.main {
  background-color: #F6F2F2;;
  padding: 30px 0 110px 0;
  margin-bottom: 110px;
}

.main-inner {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 90px;
  margin-bottom: 100px;
}

.navigacion {
  display: flex;
}

.navigacion__item-link {
  font-size: 14px;
  display: flex;
  height: 90px;
  padding: 0 26px;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigacion__item-link:hover {
  background-color: red;
}

.inner__title {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 36px;
}

.inner__description {
  line-height: 28px;
  margin-bottom: 64px;
  max-width: 545px;
}

iframe {
  box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

.inner-button {
  /* width: 227px;
  height: 55px; */
  padding: 16px 64px;
  background-color:  #FF2D2D;
  color:   #FFFFFF;
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.inner-button:hover {
  opacity: 0.5;
}