.main {
  background-color: #F6F2F2;
  height: 690px;
  margin-bottom: 110px;
}

.main-inner {
  display: flex;
  padding-top: 12rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  max-width: 1250px;
  width: 100%;
  background-color: black;
  height: 90px;
  margin-bottom: 100px;
}

.navigacion-list {
  display: flex;
}

.navigacion__item-link {
  font-size: clamp(0.7rem, 2.5vw, 1rem);
  padding: clamp(2.5vw, 50%, 1vw);
  display: flex;
  height: 90px;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigacion__item-link:hover {
  background-color: red;
}

.inner__title {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 36px;
}

.inner__description {
  line-height: 28px;
  margin-bottom: 64px;
  max-width: 545px;
}

.inner-button {
  padding: 16px 64px;
  background-color: #FF2D2D;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.inner-button:hover {
  opacity: 0.5;
}

.iframe {
  width: 580px;
  height: 326px;
}

iframe {
  box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

/* адаптив */

@media screen and (max-width: 1280px) {
  .main {
    height: 854px;
    margin-bottom: 40px;
  }

  .main-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
  }

  .main-inner__left {
    text-align: center;
    margin-bottom: 30px;
  }

  .inner__description {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 640px) {
  .navigacion {
    display: none;
  }

  .navigacion__active {
    display: block;
    background: black;
    position: absolute;
    top: 0;
    left: 28px;
  }

  .navigacion-list {
    flex-direction: column;
  }

  .header {
    width: 60px;
    height: 60px;
    left: 10px;
    top: 10px;
  }

  .burger {
    display: block;
    position: relative;
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
  }

  .burger::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    top: 10px;
  }

  .burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    top: -10px;
  }

  .main {
    height: 738px;
    margin-bottom: 70px;
  }

  .inner__title {
    font-size: 40px;
    line-height: 50px;
  }

  .main-inner__rigth iframe {
    width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    margin-bottom: 0;
  }

  .main-inner {
    padding-top: 6rem;
  }

  .main-inner__rigth iframe {
    width: 320px;
  }

  .inner__title {
    font-size: 28px;
    line-height: 32px;
    margin-top: 28px;
    margin-bottom: 8px;
  }
}

.burger_open {
  background-color: transparent;
}

.burger_open::after, .burger_open::before {
  top: 0;
}

.burger_open::after {
  transform: rotate(45deg);
}

.burger_open::before {
  transform: rotate(-45deg);
}

.burger_wrapper {
  height: 100%;
}