.provide{
  display: flex;
  padding-bottom: 100px;
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 104px;
}

.provide-inner, .provide-advateges {
  width: 50%;
}

.provide-inner {
  padding-right: 110px;
}

.provide-inner__title{
  text-transform: uppercase;
  font-family: 'OpenSans';
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 50px;
}

.provide-inner__description {
  line-height: 28px;
  margin-bottom: 64px;
}

.provide-inner__button {
  background-color: transparent;
  border: 2px solid #FF0000;
  padding: 15px 60px;
  color: #FF0000;
  transition: 0.9s;
  font-family: 'OpenSans';
  font-size: 18px;
  line-height: 34px;
  border-radius: 6px;
}

.provide-inner__button:hover {
  background-color: #FF0000;
  color: #FFFFFF;
}

.provide-advateges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 52px 0;  
}

.provide-advateges__item {
  width: 49%;
}

.provide-advateges__icon {
  margin-bottom: 32px;
}

.provide-advateges__title {
  margin-bottom: 15px;
  font-size: 24px;
}

.provide-advateges__descripcion {
  line-height: 28px;
}