.subscribe {
  background-color: #2c2c2c;
  color: #FFFFFF;
  padding: 120px 0;
  text-align: center;
  margin-bottom: 105px;
}

.subscribe__title {
  font-size: 42px;
  margin-bottom: 16px;
}

.subscribe__description {
  line-height: 28px;
  margin-bottom: 56px;
}

.subscribe__form-input {
  padding: 30px 0 30px 38px;
  width: 524px;
  border-radius: 8px;
}

.subscribe__form-sumbit {
  height: 75px;
  padding: 0 60px;
  background-color: #FF2D2D;
  border-radius: 8px;
  margin-left: 19px;
  font-size: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 640px) {
  .subscribe__form-input {
    width: 98%;
  }

  .subscribe {
    padding: 49px;
    margin-bottom: 32px;
  }

  .subscribe__form-sumbit {
    margin: auto;
  }


}