.team {
  margin-bottom: 95px;
}

.team-inner {
  display: flex;
  padding-top: 60px;
}

.team-inner__previw {
  width: 320px;
  background-color: #FF2D2D;
}

.team-inner__list {
  padding-left: 60px;
}

.team-inner__titel {
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 30px;
}

.team-inner__description {
  line-height: 28px;
  margin-bottom: 46px;
  max-width: 660px;
}

.team-inner__social {
  display: flex;
  gap: 0 24px;
  margin-bottom: 60px;
}

.team-inner__previews {
  display: flex;
  gap: 0 20px;
}

.previews__item {
  position: relative;
  width: 200px;
  height: 217px;
  background-color: #FF2D2D;
  cursor: pointer;
}

.previews__item:hover .previews__item-footnote {
  display: block;
}

.previews__item-footnote {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  color: #FFFFFF;
  background-color: black;
  opacity: 0.5;
}