.team {
  margin-bottom: 95px;
}

.team-inner {
  display: flex;
  padding-top: 60px;
}

.team-inner__previw {
  width: 318px;
  height: 494px;
}

.team-inner__list {
  padding-left: 29px;
}

.team-inner__titel {
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 30px;
}

.team-inner__description {
  line-height: 28px;
  margin-bottom: 46px;
  max-width: 660px;
}

.team-inner__social {
  display: flex;
  gap: 0 24px;
  margin-bottom: 60px;
}

.team-inner__previews {
  display: flex;
  gap: 0 15px;
}

.previews__item {
  width: 200px;
  height: 244px;
  cursor: pointer;
}

.previews__foto:hover .previews__item-footnote {
  display: block;
}

.previews__item-footnote {
  display: none;
  font-size: 18px;
  text-align: center;
  padding: 16px;
  margin-top: -52px;
  color: #FFFFFF;
  background-color: black;
  opacity: 0.5;
}

@media screen and (max-width: 1280px) {
  .team {
    padding: 0 20px;
  }

  .section-header__title {
    text-align: center;
  }

  .section-header__description {
    text-align: center;
    margin: 0 auto;
  }

  .section-header__line {
    text-align: center;
    margin: 20px auto;
  }

  .team-inner {
    justify-content: center;
  }

  .team-inner__previw {
    flex-wrap: wrap;
    width: 320px;
    min-width: 300px;
    min-height: 211px;
    height: 467px;
  }

  .team-inner__list {
    display: flex;
    flex-wrap: wrap;
  }

  .team-inner__previews {
    gap: 6px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 850px) {
  .team-inner__previw {
    min-width: 240px;
    height: 330px;
    margin-right: -71px;
    left: 62px;
    position: relative;
  }

  .team-inner__list {
    margin: 0px 27px;
    width: 480px;
  }

  .team-inner__titel {
    width: 61%;
    position: relative;
    left: 100px;
  }

  .team-inner__description {
    width: 61%;
    position: relative;
    left: 100px;
  }

  .team-inner__previews {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: center;
    right: 128px;
    top: 24px;
    margin-bottom: 2px;
  }

  .social {
    margin-left: 95px;
  }

  .previews__item {
    width: 200px;
    height: 244px;
    cursor: pointer;
  }
}

@media screen and (max-width: 640px) {
  .team {
    margin-bottom: 34px;
  }

  .section-header__title {
    font-size: 26px;
  }

  .team-inner {
    flex-wrap: wrap;
  }

  .team-inner__previw {
    width: 273px;
    margin-bottom: 30px;
    left: -39px;
  }

  .team-inner__titel {
    font-size: 26px;
    text-align: center;
    left: 0;
    width: 60%;
  }

  .team-inner__description {
    width: 61%;
    left: 4px;
  }

  .social {
    gap: 8px;
    position: relative;
    right: 55px;
    margin-bottom: 22px;
  }

  .team-inner__previews {
    right: auto;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .team-inner__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: initial;
  }
}