.touch {
  margin-bottom: 107px;
}

/* .touch__wrapper {
  position: relative;
} */

.touch-inner {
  max-width: 735px;
  width: 698px;
/*   margin: 0px auto; */
}

.form {
  padding-top: 73px;
}

.form__inputs {
  display: flex;
  justify-content: space-between;
}

.form__input {
  display: block;
  max-width: 45%;
  width: 332px;
  background-color: #0000001f;
  border: none;
  border-radius: 8px;
  padding: 15px 0 15px 30px;
}

.form__massage {
  display: block;
  width: 100%;
  margin: 43px 0;
  background-color: #0000001f;
  resize: none;
  padding: 32px 53px;
  border-radius: 8px;
  border: none;
}

.form__submit {
  display: block;
  width: 100%;
  background-color: #FF3B3B;
  padding: 25px 0;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
}

.touch__contacts {
/*   position: absolute;
  right: -140px;
  bottom: 0; */
  width: 486px;
  background-color: black;
  margin-left: 764px;
  margin-top: -426px;
}


.touch__contacts-item {
  color: #FFFFFF;
  display: block;
}

.touch__contacts {
  padding: 90px 0 124px 81px;
}

.touch__contacts-title {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.touch__contacts-item {
  margin-bottom: 27px;
  line-height: 28px;
  max-width: 399px;
}

@media screen and (max-width: 1280px) {
  .touch {

    padding: 0 20px;
  }

  .touch__contacts {
    margin: 28px auto;
    width: 93%;
    max-width: 458px;
}


  .section-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .touch-inner {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }  }

@media screen and (max-width: 640px) {
  .touch {
    margin-bottom: 40px;    
  }
  .form {
    padding-top: 22px;
  }

  .touch__contacts {
    max-width: 572px;
    padding: 44px 0 12px 44px;
  }
}

@media screen and (max-width: 504px) {
  .form {
    display: block;
  }

  .form__inputs {
    display: block;
    max-width: 100%;
    width: 435px;
  }

  .form__input {
    width: 100%;
    max-width: 424px;
    margin: 6px 0px;
  }

  .form__massage {
    display: block;
    width: 100%;
    margin: 22px 0;
    padding: 18px 25px;
}

.touch__contacts {
  padding: 2px 0 12px 31px;
}
}